<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- see here for documentation on targets : https://nlog-project.org/config/?tab=targets -->
		<!-- see here ASP.NET Core renderers : https://nlog-project.org/config/?tab=layout-renderers&search=package:nlog.web.aspnetcore -->

		<!-- write logs to file  -->
		<target xsi:type="File" name="file" fileName="logs\${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${aspnet-request-method}|${aspnet-request-url}|${aspnet-request-querystring}|${mdlc:item=CorrelationId}|${onexception:${newline}${DemystifierException}}"
            />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- file -->
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>