<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- the targets to write to -->
	<targets>
		<!-- see here for documentation on targets : https://nlog-project.org/config/?tab=targets -->
		<!-- see here ASP.NET Core renderers : https://nlog-project.org/config/?tab=layout-renderers&search=package:nlog.web.aspnetcore -->

		<!-- write logs to file  -->
		<target xsi:type="File" name="logfile" fileName="logs\${shortdate}.log"
			layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
			layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>